<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recommendation</title>
</head>
<body>
    <h1>Recommendation System</h1>
    <form action="result" method="post">
        {% csrf_token %}
    <input type ="number" name = "comb_code" id="comb_code">
    <input type ="number" name = "grade" id="grade">
    <input type ="submit" value="predict">
    <div>
        {{prediction}}
    </div>


    </form>

</body>
</html>